@font-face {
  font-family: ‘DM Sans’, sans-serif;
  src: url(‘https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap’);
}
:root {
  --heading-text-color: #2e2f42;
  --primary-text-color: #434455;
  --accent-color: rgb(64, 75, 191);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
.link {
  text-decoration: none;
}
ul {
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
img {
  display: block;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
body {
  margin: 0;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* mobile */

.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (max-width: 1157px) {
  .doing {
    display: none;
  }
  .about-icon {
    display: none;
  }
}
/* Герой */

.hero {
  padding: 112px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--heading-text-color);
}
.order-button {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  height: 56px;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition);
  border: none;
}
.order-button:hover,
.order-button:focus {
  background-color: var(--accent-color);
}
@media (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 728px;
  }
  .hero-heading {
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 36px;
    max-width: 496px;
  }
  .customers-container {
    max-width: 552px;
    margin: 0 auto;
  }
}
@media (min-width: 1158px) {
  .hero {
    padding: 188px 0;

    /* height: 600px; */
  }

  .hero-heading {
    margin-bottom: 48px;
    max-width: 496px;
    margin-bottom: 48px;
    line-height: 60px;
    font-size: 56px;
  }
}

/* ORDER */

.order-list-item {
}
.item-text-div {
  width: 150px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(234, 247, 229, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}
.modal {
  padding: 20px;
  position: absolute;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  top: 50%;
  left: 50%;
  max-width: 408px;
  width: calc(100% - 36px);
  min-height: 903px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--transition);
  border-radius: 20px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(0deg) scale(3);
}

.form-head {
  color: #141414;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -1.12px;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.modal-button {
  margin-top: 24px;
  min-width: 92px;
  height: 42px;
  padding: 12px 24px;
  color: #ffffff;
  background: rgba(252, 138, 17, 1);
  border-radius: 20px;
  align-self: flex-start;
  cursor: pointer;
  border: none;
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: capitalize;
  transition: background-color var(--transition);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.x-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 22px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: background-color var(--transition), border var(--transition);
}
.x-button:hover,
.x-button:focus {
  border: none;
  background-color: #a1c487;
}
.x-svg {
  transition: fill var(--transition);
}
.order-form {
  display: flex;
  flex-direction: column;
}
.label-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.form-input-item {
  margin-bottom: 14px;
}
.input-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 100px;
  height: 46px;
  width: 100%;
  background-color: transparent;
  padding-left: 24px;
  outline: transparent;
  transition: border-color var(--transition);
}
.form-checkbox-item {
  position: relative;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(250, 243, 231, 1);
  margin-bottom: 24px;
  padding: 20px 30px 8px 20px;
}

.input-input:hover,
.input-input:focus {
  border-color: rgba(252, 138, 17, 1);
}

.input-input:focus-within {
  border-color: rgba(252, 138, 17, 1);
}
.input-div {
  position: relative;
}

.comment-textarea {
  color: rgba(20, 20, 20, 0.5);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  border: 1px solid rgba(20, 20, 20, 0.3);
  border-radius: 20px;
  height: 132px;
  resize: none;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  padding: 14px 24px;
  outline: transparent;
  resize: none;
  transition: border-color var(--transition);
  margin-bottom: 16px;
}
.comment-textarea:hover,
.comment-textarea:focus {
  border-color: rgba(252, 138, 17, 1);
}
.check-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-button:hover,
.modal-button:focus {
  background: #a1c487;
}
.check-svg-square {
  top: 22px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: inline-flex;
  /* margin-right: 8px; */
  width: 16px;
  height: 16px;
  border: 1.5px solid rgba(161, 196, 135, 1);
  border-radius: 4px;
  fill: transparent;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition), border var(--transition),
    fill var(--transition);
}

/* .privacy-checkbox:checked + .check-label > .check-svg-square {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.check-svg-square:hover,
.privacy-checkbox:hover + .check-label > .check-svg {
  border: 1px solid #404bbf;
} */

.third-checkbox:checked + .check-label > .check-svg-square {
  background-color: transparent;
  fill: rgba(161, 196, 135, 1);
}
.check-svg-square:hover,
.third-checkbox:hover + .check-label > .check-svg {
  border: 1.5px solid rgba(252, 138, 17, 1);
}
/* 





*/
.second-checkbox:checked + .check-label > .check-svg-square {
  background-color: transparent;
  fill: rgba(161, 196, 135, 1);
}
.check-svg-square:hover,
.second-checkbox:hover + .check-label > .check-svg {
  border: 1.5px solid rgba(161, 196, 135, 1);
}

.first-checkbox:checked + .check-label > .check-svg-square {
  background-color: transparent;
  fill: rgba(161, 196, 135, 1);
}
.check-svg-square:hover,
.first-checkbox:hover + .check-label > .check-svg {
  border: 1.5px solid rgba(252, 138, 17, 1);
}

.check-svg-box:hover {
  border: 1.5px solid rgba(252, 138, 17, 1);
}
.portfolio-img {
  width: 94px;
  height: 78px;
}

@media (min-width: 768px) and (max-width: 1157px) {
  .footer-flex {
    max-width: 768px;
    padding: 0 108px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer-logo-div {
    width: 264px;
  }
  .social-media-p {
    text-align: start;
  }
  .label-text {
    text-align: start;
  }
  .form {
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
  }
  .form-input {
    width: 264px;
  }
  .footer-logo-div {
    max-width: 264px;
    text-align: center;
  }
  .footer-text {
    padding: 0;
  }
  .social-list-footer {
    padding: 0;
  }
}
@media (min-width: 1158px) {
  .footer {
    height: 312px;
  }
  .footer-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .footer-text {
    padding: 0;
  }
  .social-list-footer {
    padding: 0;
  }
  .social-list-footer {
    display: flex;
    gap: 16px;
  }
  .social-list-footer-item {
    width: 40px;
    height: 40px;
  }
  .social-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition);
  }
  .social-icon-footer {
    fill: #f4f4fd;
  }
  .social-link-footer:hover,
  .social-link-footer:focus {
    background-color: rgba(49, 208, 170, 1);
  }
  .social-media {
    margin-left: 120px;
  }
  .social-media-p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: start;
  }
  .label-text {
    width: 100%;
    text-align: start;
  }

  .form-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid #ffffff;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    color: #fff;
  }
  .subscribe {
    margin-left: auto;
    width: 453px;
  }

  .form {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .send-icon {
    margin-left: 16px;
  }
}

/* Portfolio */

/* 











*/
.gallery-list-item {
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.gallery-describtion {
  padding: 32px 16px;
  border: 1px solid rgba(231, 233, 252, 1);
  border-top: none;
}

.project-box {
  position: relative;
  overflow: hidden;
}
.app-link {
  display: block;
  transition: box-shadow var(--transition);
}
.app-link:hover,
.app-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.foto-flex:hover,
.foto-flex:focus {
  background: linear-gradient(0deg, #f4f4fd, #f4f4fd),
    linear-gradient(0deg, #ffffff, #ffffff);
  transition: background-color var(--transition);
  transition: box-shadow var(--transition);
}

.app-link:hover .project-overlay,
.app-link:focus .project-overlay {
  transform: translateY(0%);
}

.project-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--transition);
}
@media (min-width: 768px) and (max-width: 1157px) {
  .gallery-list {
    row-gap: 72px;
  }
  .foto-flex {
    width: calc((100% - 24px) / 2);
  }
}
@media (min-width: 1158px) {
  .image-filter-list {
    justify-content: center;
  }

  .gallery-list {
    row-gap: 72px;
  }
  .foto-flex {
    width: calc((100% - 48px) / 3);
  }
}
