@font-face {
  font-family: ‘DM Sans’, sans-serif;
  src: url(‘https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap’);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
.link {
  text-decoration: none;
}
ul {
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
img {
  display: block;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
body {
  margin: 0;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero {
  padding: 112px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--heading-text-color);
}
.order-button {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  height: 56px;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition);
  border: none;
}
.order-button:hover,
.order-button:focus {
  background-color: var(--accent-color);
}

/* ORDER */
.checkbox-list h3 {
  color: #141414;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.72px;
}
.checkbox-list p {
  color: #141414;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}
.item-text-div {
  width: 160px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(234, 247, 229, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}
.modal {
  padding: 20px;
  position: absolute;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  top: 50%;
  left: 50%;
  max-width: 408px;
  width: calc(100% - 40px);
  /* min-height: 903px; */
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  /* transition: transform var(--transition); */
  border-radius: 20px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(0deg) scale(3);
}

.form-head {
  color: #141414;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -1.12px;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.modal-button {
  margin-top: 24px;
  min-width: 92px;
  height: 42px;
  padding: 12px 24px;
  color: #ffffff;
  background: rgba(252, 138, 17, 1);
  border-radius: 20px;
  align-self: flex-start;
  cursor: pointer;
  border: none;
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: capitalize;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.x-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 22px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.x-button:hover,
.x-button:focus {
  border: none;
  background-color: rgba(252, 138, 17, 1);
}

.order-form {
  display: flex;
  flex-direction: column;
}
.form-input-item {
  margin-bottom: 14px;
}
.input-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 100px;
  height: 46px;
  width: 100%;
  font-family: DM Sans;
  color: #000000;
  background-color: transparent;
  padding-left: 24px;
  outline: transparent;
}
.form-checkbox-item {
  position: relative;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(250, 243, 231, 1);
  margin-bottom: 24px;
  padding: 20px 30px 8px 20px;
}

.input-input:hover,
.input-input:focus {
  border-color: rgba(252, 138, 17, 1);
}

.input-input:focus-within {
  border-color: rgba(252, 138, 17, 1);
}
.input-div {
  position: relative;
}

.comment-textarea {
  color: rgba(20, 20, 20, 0.5);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  border: 1px solid rgba(20, 20, 20, 0.3);
  border-radius: 20px;
  height: 132px;
  resize: none;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  padding: 14px 24px;
  outline: transparent;
  resize: none;
  margin-bottom: 16px;
}
.comment-textarea:hover,
.comment-textarea:focus {
  border-color: rgba(252, 138, 17, 1);
}
.check-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-button:hover,
.modal-button:focus {
  background: #a1c487;
}
.check-svg-square {
  top: 22px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1.5px solid rgba(161, 196, 135, 1);
  border-radius: 4px;
  fill: transparent;
  align-items: center;
  justify-content: center;
}

.third-checkbox:checked + .check-label > .check-svg-square {
  background-color: transparent;
  fill: rgba(161, 196, 135, 1);
}
.check-svg-square:hover,
.third-checkbox:hover + .check-label > .check-svg {
  border: 1.5px solid rgba(252, 138, 17, 1);
}
.second-checkbox:checked + .check-label > .check-svg-square {
  background-color: transparent;
  fill: rgba(161, 196, 135, 1);
}
.check-svg-square:hover,
.second-checkbox:hover + .check-label > .check-svg {
  border: 1.5px solid rgba(161, 196, 135, 1);
}

.first-checkbox:checked + .check-label > .check-svg-square {
  background-color: transparent;
  fill: rgba(161, 196, 135, 1);
}
.check-svg-square:hover,
.first-checkbox:hover + .check-label > .check-svg {
  border: 1.5px solid rgba(252, 138, 17, 1);
}

.check-svg-box:hover {
  border: 1.5px solid rgba(252, 138, 17, 1);
}
.order-img {
  width: 94px;
  height: 78px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .form-head {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.6px;
    padding-bottom: 40px;
  }
  .modal {
    padding: 40px;
    max-width: 890px;
    width: calc(100% - 64px);
    background-image: url(../images/modal_girl.png);
    background-position: right bottom;
    background-repeat: no-repeat;
  }
  .checkbox-list {
    display: flex;
    gap: 12px;
    padding-bottom: 40px;
  }
  .form-checkbox-item {
    height: 250px;
    flex-direction: column;
    padding: 0;
  }
  .order-img {
    width: 172px;
    height: 142px;
    /* padding: 14px auto 14px auto; */
  }
  .item-text-div {
    padding: 40px 20px 0;
  }
  .order-list-item {
    width: 100%;
    height: 250px;
  }
  .order-form {
    max-width: 360px;
  }
}

@media (min-width: 1280px) {
  .form-head {
    font-size: 40px;
  }
  .modal {
    padding: 40px;
    max-width: 891px;
    width: calc(100% - 64px);
    background-image: url(../images/modal_girl_desk.png);
    background-position: right bottom;
    background-repeat: no-repeat;
  }
  .checkbox-list {
    display: flex;
    gap: 20px;
    padding-bottom: 40px;
  }
  .form-checkbox-item {
    height: 250px;
    flex-direction: column;
    padding: 0;
  }
  .order-img {
    align-self: center;
    width: 243px;
    height: 200px;
    padding: auto 14px;
  }
  .item-text-div {
    padding: 40px 20px 0;
  }
  .order-list-item {
    width: 100%;
    height: 308px;
  }
  .order-form {
    max-width: 360px;
  }
}
